body{
    background: url("../images/login2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.title{
     text-align: center;
     font-weight: bolder;
     font-size: 40px;
     font-family: 宋体;
 }
.box{
    margin: 0 auto;
    border: aqua solid 2px;
    margin-top: 15%;
    width: 30%;
    height: auto;
    padding: 20px 50px;
    border: 2px solid #000000;
    background-color:#00000090;
    color: white;
    border-radius: 20px;
}
form{
    text-align: center;
}
input{
    padding: 5px 10px;
    height: 30px;
    margin: 10px;
    width: 180px;
    background-color: #ffffff00;
    color: white;
    border: 0;
    border-bottom: 3px solid white;
}
button{
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, #db3125 0%, #578bc3 100%);
    border: 0;
    border-radius: 15px;
}